* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #040714;
  overflow-x: hidden;
}

header {
  background-image: url(IMG/DisneyCatalago.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: end;
  margin-right: 3%;
  margin-top: 1%;
}

.btn-topo {
  color: white;
  background-color: black;
  font-size: 1.1rem;
  padding: 15px 20px;
  border: 1px solid silver;
  border-radius: 5px;
  cursor: pointer;
}

.btn-topo:hover {
  color: black;
  background-color: white;
  transition-duration: 500ms;
}

.header-conteudo {
  margin-left: 5%;
  margin-top: 3%;
  display: flex;
  width: 50%;
  flex-direction: column;
}

.img_topo {
  width: 180px;
}

header h1 {
  color: rgb(242, 241, 241);
  font-size: 2.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10px;
}
.btn-topo2 {
  color: #f9f9f9;
  background-color: rgb(63, 63, 255);
  font-size: 1.1rem;
  padding: 20px 20%;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.btn-topo2:hover {
  background-color: rgb(42, 42, 242);
  transition: 300ms;
}

.link_topo {
  margin-left: 9px;
  color: rgb(242, 241, 241);
  font-size: 1.12rem;
  margin-top: 2%;
  width: fit-content;
}

@media screen and (min-width: 1701px) {
  header {
    height: 70vh;
  }
  .header-conteudo {
    padding-top: 15vh;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1700px) {
  header {
    height: 40rem;
  }

  .header-conteudo {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 1000px) {
  header {
    background-image: url(IMG/DisneyCatalagomobile.jpg);
    background-size: 100%;
    background-position: top;
    height: 60rem;
  }
  .btn-topo {
    font-size: 0.8rem;
    padding: 10px 8px;
  }

  .img_topo {
    width: 140px;
  }

  .header-conteudo {
    margin: 0;
    padding-top: 60%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50%;
  }

  header h1 {
    font-size: 2rem;
  }

  .link_topo {
    margin-bottom: 2%;
  }

  .btn-topo2 {
    margin: 20px;
  }
}

@media screen and (max-width: 300px) and (max-height: 500px) {
  header {
    height: 60rem;
  }
}
