.section_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.mobile {
  display: none;
}

.section_1 h2 {
  color: white;
  font-size: 2.5rem;
}

.section_1 p {
  margin-top: 2%;
  color: silver;
}

.section_1 table {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 80%;
  border-collapse: collapse;
}

.th_width {
  width: 45%;
  background-color: #040714;
}

.th_1 {
  border-top: 2px solid hsla(0, 0%, 100%, 0.1);
}

.h3_1 {
  color: white;
  margin-bottom: 3%;
  margin-top: 4%;
}

.btn_th1 {
  font-size: 15px;
  padding: 15px 70px;
  background-color: #02b6c5;
  color: black;
  white-space: nowrap;
  margin-top: 10%;
  margin-bottom: 4%;
  border-radius: 3px;
  border: transparent;
  cursor: pointer;
}

.th_2 {
  border-top: 2px solid hsla(0, 10%, 86%, 0.361);
  background-color: #1d1f2b;
}

.h3_2 {
  color: white;
  margin-bottom: 3%;
  margin-top: 4%;
}

.btn_th2 {
  font-size: 15px;
  padding: 15px 70px;
  background-color: #4040fa;
  color: white;
  white-space: nowrap;
  margin-top: 10%;
  margin-bottom: 4%;
  border-radius: 3px;
  border: transparent;
  text-align: center;
}

th {
  border-bottom: 2px double silver;
}

.tab {
  margin-top: 5%;
  height: 200px;
  border-bottom: 1px solid hsla(0, 0%, 75%, 0.3);
  text-align: center;
}

.btn_th3 {
  font-size: 15px;
  padding: 15px 35.54px;
  background-color: #02b6c5;
  color: black;
  white-space: nowrap;
  margin-top: 10%;
  margin-bottom: 4%;
  border-radius: 3px;
  border: transparent;
  text-decoration: none;
  cursor: pointer;
}

.btn_th1:hover,
.btn_th3:hover {
  background-color: #0095a2;
}

.position_color {
  text-align: center;
  background-color: #1d1f2b;
}

.position {
  text-align: center;
}

.menos_img {
  width: 50px;
}

.check_img {
  width: 50px;
}

.aviso {
  color: silver;
  font-size: 0.8rem;
}

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vw;
}

.section_2 h2 {
  color: rgb(242, 241, 241);
  font-size: 2.5rem;
}

.section_2 p {
  color: silver;
  font-size: 1.24rem;
  margin-top: 5%;
}

.midia {
  width: 600px;
}

.section_3 {
  text-align: center;
}

.section_3 h2 {
  color: rgb(242, 241, 241);
  font-size: 2.5rem;
  margin-top: 3%;
}

.section_3 p {
  color: silver;
  font-size: 1.1rem;
  margin-top: 2.5%;
}

.section_3 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 2%;
}

.section_3 img {
  width: 350px;
  border-radius: 5px;
}

.section_4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section_4 h2 {
  color: rgb(242, 241, 241);
  font-size: 2.5rem;
  margin-top: 8%;
  text-align: center;
}

.section_4 details {
  margin-top: 1%;
  width: 80%;
  background-color: #1d1f2b;
}

.section_4 summary {
  color: white;
  font-size: 1.5rem;
  padding: 2%;
  cursor: pointer;
}

.section_4 h3 {
  color: rgb(240, 231, 231);
  margin-top: 2%;
  margin-left: 3.6%;
  padding-bottom: 2%;
}

.section_4 ul {
  color: silver;
  margin-top: 2%;
  margin-left: 7.2%;
}

.section_4 li {
  margin-top: 1%;
  padding-bottom: 2%;
}

@media screen and (min-width: 1760px) {
  .th_1 img {
    width: 200px;
  }

  .th_2 img {
    width: 240px;
    height: 100px;
  }

  .section_2 img {
    width: 700px;
  }

  .section_3 img {
    width: 550px;
  }
}

@media screen and (max-width: 1000px) {
  .section_1 {
    display: none;
  }

  .section_2 {
    flex-direction: column-reverse;
    margin-top: 5%;
    padding: 6vh;
  }

  .section_2 img {
    width: 380px;
  }

  .section_2 h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
  }

  .section_2 p {
    font-size: 1.06rem;
    text-align: center;
  }

  .section_3 h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 10%;
  }

  .section_3 p {
    font-size: 0.9rem;
    margin: 10px auto;
    width: 80%;
  }

  .section_3 table {
    width: 50%;
    flex-direction: column;
    border-spacing: 5px;
    flex-wrap: wrap;
    border: none;
  }

  .section_3 img {
    width: 180px;
  }
}
