footer {
  padding: 5vw;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

footer select {
  background-color: #040714;
  color: silver;
}

footer a {
  font-size: 0.7rem;
  color: silver;
  display: inline-block;
  white-space: nowrap;
  padding: 0.25rem 1.25rem;
  text-decoration: none;
}

footer p {
  text-align: center;
  color: silver;
  font-size: 0.7rem;
  margin-top: 4%;
}
